
@font-face {
  font-family: gravur;
  src: url('../../Assets/Fonts/gravur.woff')
}

.list {
  width: 100;
}

.link .link:link .link:hover .link:active .link:visited {
  text-decoration: none !important;
}

a {
  text-decoration: none !important;
  font-family: gravur !important;
}
